spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bridgetotalk
    username: talk
    password: talk123
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
